<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Hello</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
	</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

	<div id="app" class="input-group date " data-provide="datepicker">
		<button v-on:click="getData">프레임워크 목록 가져오기</button>
		<input class="datepicker " name="datepicker" type="date" value="${date}">

		<table class="table">
			<thead>
				<tr>
					<th>인덱스</th>
					<th>순번</th>
					<th>오늘의 할일</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, index) in todoList" :key="item.ser">
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

	</div>
	<script>
		new Vue({
			el: '#app',
			methods: {
				getData: function () {
					axios.get('/general/food?querydate=20190829')
						.then(response => {
							return response.json();
						})
						.then(data => {
							const resultArray = [];
							for (let key in data){
								resultArray.push(data[key])
							}
						})
				}
			}
		});

		
		// new Vue({
		// 	el: '#app',
		// 	methods: {
		// 		getData: function () {
		// 			axios.get('/food?querydate=20190829')
		// 				.then(function (response) {
		// 					console.log(response.data);
		// 				});
		// 		}
		// 	}
		// });
	</script>

</body>

</html>