<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>전산고장신고</title>
	<link rel="SHORTCUT ICON" href="/resources/img/seohanico.gif" />
	<script src="/webjars/jquery/dist/jquery.min.js"></script>
	<link href="/resources/img/seohanico.jpg" rel="apple-touch-icon" sizes="180x180" />

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- <link href="../static/css/app.30790115300ab27614ce176899523b62.css" rel=stylesheet> -->
    <script type=text/javascript src="../../static/js/manifest.2ae2e69a05c33dfc65f8.js"> </script>
    <script type=text/javascript src="../../static/js/vendor.e00e51762311e00a2108.js"> </script>
    <script type=text/javascript src="../../static/js/app.b22ce679862c47a75225.js"> </script>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://npmcdn.com/axios/dist/axios.min.js"></script>

</head>

<body>
	<!-- Page Content -->
	<div id="app">
		<table class="table table-striped table-bordered " id="dataTable">
			<tbody>
				<tr v-for="data in dataList"> 
					<td class="genre" >{{data.class1}} </td>
					<td class="genre" >{{data.co_gb}}</td>
					<td class="genre" >{{data.rteam}}</td>
					<td class="genre" >{{data.rname}}</td>
					<td class="longlen" ><a v-bind:href="data.rtel">{{data.rtel}}</a></td>
					<td class="longlen" >{{data.rtxt}}</td>
					<td class="genre">
						<button class="btn btn-default btn-sm" type="button"
							@click="fileDown(data)">다운로드</button>
						
					</td>
					</td>
					<td class="genre" >
						<button class="btn btn-default btn-sm" type="button" id="endDamage"
							@click="enditdamage(data)">완료</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<script>
		// import axios from 'axios'
		var vm = new Vue({
			el: '#app',
			data: {
				ctime:'', 
				rtime:'', 
				datepicker: new Date(),
				querydate: '',
				dataList: []
			},
			created() {
				var today = new Date();
				querydate = today.getFullYear() + '' + ('00' + (today.getMonth() + 1)).slice(-2) + '' + today.getDate();
				this.datepicker = today.getFullYear() + '-' + ('00' + (today.getMonth() + 1)).slice(-2) + '-' + today.getDate();;

				axios.get('/general/itdamage')
					.then(response => {
						this.dataList = response.data;
						console.log(response);						 
					})
					.catch(e => {
						console.error(e)
					})
			},
			methods: { 
				getData: function () {
					querydate = this.datepicker.substr(0, 4) + this.datepicker.substr(5, 2) + this.datepicker.substr(8, 2);
					axios.get('/general/itdamage')
						.then(response => {
							this.dataList = response.data;
							console.log(response);
						})
						.catch(e => {
							console.log(e);
						})
				},
				enditdamage: function (data) {
					// var date = new Date();
					// dateTimeString = date.getFullYear() + ("0" + (date.getMonth() + 1)).slice(-2) 
					// 				+ ("0" + date.getDate()).slice(-2) + ("0" + date.getHours() + 1 ).slice(-2) 
					// 				+ ("0" + date.getMinutes()).slice(-2) + ("0" + date.getSeconds()).slice(-2) ;
					// data.ctime = dateTimeString;
					axios.post('/general/itdamage/post', data ) 					 
					.catch(e => {
						console.log(e);
					})
				},
				fileDown: function (data) { 
					axios.get('/general/itdamage/file', data.attach) 
					.catch(e => {
						console.log(e);
					})
				} 			
			},
			mounted: function () {
			}
		});  
	</script>
</body>

</html>