<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seohan.erp.mat.mapper">

	<!-- 코드 관련 쿼리 -->
	<update id="saveBalance" parameterType="com.seohan.erp.mat.Dto.ItemBalanceSaveQuery">
		<![CDATA[
			insert into SMLIB.ITMBL0800 (GDATE,GTIME,WARHS,ITMNO,QTY,TRIM,MNY)
			select cast(#{savingDate} as char(8))  gdate, cast(#{savingTime} as char(4)) gtime, WARHS,ITMNO,SUM(QTY) QTY, TRIM, SUM(MNY) MNY from (
				SELECT DISTINCT  A.WARHS, A.ITMNO, SUM(A.ONHND) QTY, 0 TRIM, SUM(A.ONHND) *coalesce(CASE WHEN RIGHT(TRIM(A.WARHS),1) = 'B' AND GUBN = 'B' THEN FDANGA  ELSE PURDANGA END, 0) MNY  FROM SMLIB.ITMBLPF A
				INNER JOIN SMLIB.ITMSTPF ITM ON A.ITMNO = ITM.ITMNO  INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND A.WARHS = C.ASGUB AND AREF1 = 'SHN'
				LEFT OUTER JOIN SMLIB.SAGBMST SG ON A.ITMNO = SG.GITEM AND ITM.CSTCD=SG.GVEND LEFT OUTER JOIN (SELECT ASGUB, ASDES, CASE WHEN TRIM(AFILL) > '0' THEN AFILL ELSE 0 END AFILL FROM SALIB.ACODERP WHERE ADGUB = 'PC' ) D ON ITM.PMJGB = D.ASGUB
				LEFT OUTER JOIN (SELECT ITMNO, ROUND(MAX(DANGA),2) FDANGA FROM SMLIB.PURCTPF WHERE STRDT ='00000000' AND GAE in ('NC', 'C4', 'B4') GROUP BY ITMNO) F ON A.ITMNO = F.ITMNO
				LEFT OUTER JOIN (SELECT ITMNO, ROUND(MAX(DANGA),2) PURDANGA FROM SMLIB.PURCTPF WHERE STRDT = '00000000'  AND GAE IN ('B4', 'C4') GROUP BY ITMNO) PUR ON A.ITMNO = PUR.ITMNO
				WHERE RIGHT(TRIM(A.WARHS), 1) = 'B'   AND ONHND <> 0   GROUP BY A.WARHS, A.ITMNO, GUBN, FDANGA, PURDANGA
				UNION ALL
				SELECT DISTINCT  A.WARHS, A.ITMNO, coalesce(A.QTY,0) QTY, 0 TRIM, coalesce(PUR.DANGA,0) * coalesce(A.QTY,0) MNY  FROM SMLIB.ITMSTPF ITM
				INNER JOIN (
					SELECT A.WARHS, A.ITMNO, SUM(A.ONHND) QTY FROM SMLIB.ITMBLPF A
			  		INNER JOIN SBLIB.WRKCTPF WA ON A.WARHS = WA.WRKCT  WHERE FACT NOT IN ('D', 'F') AND A.ONHND <> 0 AND WA.ACTGB = 'A' GROUP BY A.WARHS, A.ITMNO
					UNION ALL
					SELECT WARHS, ITMNO, SUM(ONHND) QTY FROM SMLIB.ITMBLPF A  INNER JOIN SALIB.ACODERP B ON A.WARHS = B.ASGUB AND B.ADGUB = 'PJ' AND AREF1 = 'SHN' AND AFILL = ''
					WHERE RIGHT(TRIM(A.WARHS), 1) = 'Q' AND LEFT(WARHS,1) NOT IN ('D', 'F') AND A.ONHND <> 0 AND LENGTH(TRIM(A.WARHS)) = 2 GROUP BY A.WARHS, A.ITMNO
				) A ON   ITM.ITMNO = A.ITMNO
				LEFT OUTER JOIN (
					SELECT DISTINCT ITM.ITMNO, coalesce(C.AFILL, ROUND(MAX(DANGA),2)) DANGA FROM SMLIB.ITMSTPF ITM  LEFT OUTER JOIN SMLIB.PURCTPF A ON ITM.ITMNO= A.ITMNO AND STRDT = '00000000'
					LEFT OUTER JOIN SALIB.ACODERP C ON C.ADGUB = 'PC' AND ITM.PMJGB = C.ASGUB AND AFILL > '0'  WHERE ITM.ITMNO <> ''  GROUP BY ITM.ITMNO, C.AFILL
				) PUR ON ITM.ITMNO = PUR.ITMNO  WHERE ACTGB <> '' AND coalesce(A.QTY,0)  <> 0
				UNION ALL
				SELECT   WARHS, ITM.ITMNO, coalesce(ONHND,0) QTY, 0 TRIM, ROUND(coalesce(ONHND,0) * coalesce(DANGA,0), 0) MNY   FROM SMLIB.ITMSTPF ITM
				LEFT OUTER JOIN SMLIB.ITMBLPF BL ON ITM.ITMNO = BL.ITMNO AND RIGHT(TRIM(BL.WARHS), 1) IN ('A','W') AND BL.WARHS NOT IN ('A','FA','HA')  AND LOCAT <> 'SY' AND LENGTH(TRIM(BL.WARHS)) = 2
				LEFT OUTER JOIN (
					SELECT DISTINCT ITM.ITMNO, coalesce(C.AFILL, ROUND(MAX(DANGA),2), 0) DANGA FROM SMLIB.ITMSTPF ITM  LEFT OUTER JOIN SMLIB.PURCTPF A ON ITM.ITMNO= A.ITMNO AND STRDT = '00000000'
					LEFT OUTER JOIN SALIB.ACODERP C ON C.ADGUB = 'PC' AND ITM.PMJGB = C.ASGUB AND AFILL > '0'  WHERE ITM.ITMNO <> ''  GROUP BY ITM.ITMNO, C.AFILL
				) PUR ON BL.ITMNO = PUR.ITMNO  INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'
				WHERE LEFT(WARHS,1) <> 'D' AND ONHND <> 0
				UNION ALL
				SELECT   CASE WHEN BL.WARHS IN ('FA','HA','A') THEN BL.WARHS ELSE LEFT(BL.WARHS,1) END WARHS, ITM.ITMNO, SUM(ONHND) QTY, 0 TRIM, ROUND(SUM(ONHND) * coalesce(DANGA,0),0) MNY  FROM SMLIB.ITMSTPF ITM
				LEFT OUTER JOIN SMLIB.ITMBLPF BL ON ITM.ITMNO = BL.ITMNO AND ONHND <> 0 AND (( BL.WARHS <> 'FA' AND LOCAT = '' ) OR BL.WARHS = 'FA' AND LOCAT IN ('M1', 'M2','') )
				LEFT OUTER JOIN (
					SELECT DISTINCT ITM.ITMNO, coalesce(C.AFILL, ROUND(MAX(DANGA),2)) DANGA FROM SMLIB.ITMSTPF ITM
					LEFT OUTER JOIN SMLIB.PURCTPF A ON ITM.ITMNO= A.ITMNO AND STRDT = '00000000' AND GAE IN ('FA', 'C4', 'B4', 'AD')
					LEFT OUTER JOIN SALIB.ACODERP C ON C.ADGUB = 'PC' AND ITM.PMJGB = C.ASGUB AND C.AFILL > '0'  WHERE ITM.ITMNO <> ''  GROUP BY ITM.ITMNO, C.AFILL
				) PUR ON BL.ITMNO = PUR.ITMNO
				INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND C.AREF1 = 'SHN'
				INNER JOIN SALIB.ACODERP D ON D.ADGUB = '31' AND D.AREF1 = 'SHN' AND D.ASGUB = C.AFILL
				WHERE ITM.ACTGB <>'Z' AND BL.ONHND <> 0  GROUP BY BL.WARHS, ITM.ITMNO, DANGA ORDER BY WARHS, ITMNO
			) A
			GROUP BY  WARHS,ITMNO, TRIM
		]]>
	</update>

	<update id="saveBalanceHisLot" parameterType="com.seohan.erp.mat.Dto.ItemBalanceSaveQuery" >
		<![CDATA[
			insert into SMLIB.ITMBL0800 (GDATE,GTIME,WARHS,ITMNO,QTY,TRIM)
			SELECT cast(#{savingDate} AS char(8) CCSID 933)  gdate, cast(#{savingTime} AS char(4) CCSID 833) gtime,
			 	TRIM(A.WARHS) || '-L' , A.ITMNO, SUM(QTY), 0
			FROM SMLIB.ITMBLPFSUB A

			INNER JOIN SMLIB.ITMSTPF B ON A.ITMNO = B.ITMNO
			WHERE  QTY <> 0 GROUP BY A.ITMNO, A.WARHS ORDER BY ITMNO
		]]>
	</update>
	<update id="saveOldBalanceByDate" parameterType="com.seohan.erp.mat.Dto.ItemBalanceSaveQuery">
		<![CDATA[
		insert into smlib.ITMBL08_OLD (GDATE,GTIME,WARHS,ITMNO,LOCAT,LOTNO,INDATE,INTIME,QTY,PRICE,STS,BLTYPE)
		SELECT cast(#{savingDate} as char(8)) GDATE, cast(#{savingTime} as char(4)) GTIME, BL.WARHS, BL.ITMNO, BL.LOCAT, BL.LOTNO, INDATE, INTIME, BL.JQTY QTY,
		coalesce(CASE WHEN GUBN = 'B' THEN FDANGA  ELSE PURDANGA END, 0) PRICE, 'O' STS, 'OLDDATE' BLTYPE
		FROM (
		select * From SMLIB.ITMBLPFSUB A
		where  WARHS in ('AB', 'BB', 'GB') AND INDATE < cast(#{oldDate} as char(8))
		) BL
		EXCEPTION JOIN (
			SELECT  DISTINCT A.WARHS, A.ITMNO FROM 						SMLIB.TRANSPF A
			WHERE A.TRSDT >= cast(#{oldDate} as char(8))  AND WARHS in ('AB', 'BB', 'GB') AND QUNTY <> 0
			GROUP BY  A.WARHS, A.ITMNO
		) A ON A.WARHS = BL.WARHS AND  BL.ITMNO = A.ITMNO
		LEFT OUTER JOIN SMLIB.SAGBMST SG ON BL.ITMNO = SG.GITEM
		LEFT OUTER JOIN (SELECT ITMNO, ROUND(MAX(DANGA),2) FDANGA FROM SMLIB.PURCTPF WHERE STRDT ='00000000' AND GAE in ('NC','B4', 'C4') GROUP BY ITMNO) F ON BL.ITMNO = F.ITMNO
		LEFT OUTER JOIN (SELECT ITMNO, ROUND(MAX(DANGA),2) PURDANGA FROM SMLIB.PURCTPF WHERE STRDT = '00000000' AND UEXC = 'W'  AND GAE IN ('B4', 'C4') GROUP BY ITMNO) PUR ON BL.ITMNO = PUR.ITMNO
		Union All
		SELECT DISTINCT cast(#{savingDate} as char(8)) GDATE, cast(#{savingTime} as char(4)) GTIME, BL.WARHS, BL.ITMNO,  LOCAT, BL.LOTNO,
		INDATE,  INTIME, BL.ONHND QTY, coalesce(DANGA,0) PRICE, 'O', 'OLDDATE' BLTYPE FROM (
			SELECT LEFT(WARHS,1) FACT, WARHS,  ITMNO, LOTNO, LOCAT, QTY ONHND, INDATE, INTIME FROM SMLIB.ITMBLPFSUB
			where  JQTY <> 0 AND RIGHT(TRIM(WARHS),1)='Q' AND LENGTH(TRIM(WARHS)) = 2 and indate < cast(#{oldDate} as char(8))
		) BL
		EXCEPTION JOIN (
			SELECT  DISTINCT A.WARHS, A.ITMNO FROM SMLIB.TRANSPF A
			INNER JOIN SALIB.ACODERP B ON A.WARHS = B.ASGUB AND B.ADGUB = 'PJ' AND AREF1 = 'SHN' AND B.ASGUB != 'F'
			WHERE A.TRSDT >= cast(#{oldDate} as char(8)) AND RIGHT(TRIM(A.WARHS), 1) = 'Q' AND LEFT(WARHS,1) NOT IN ('D', 'F') AND A.QUNTY > 0
			GROUP BY  A.WARHS, A.ITMNO
		) A ON A.WARHS = BL.WARHS AND  BL.ITMNO = A.ITMNO
		LEFT OUTER JOIN (
			SELECT DISTINCT ITM.ITMNO, coalesce(C.AFILL, ROUND(DANGA,2), 0) DANGA FROM SMLIB.ITMSTPF ITM
			LEFT OUTER JOIN SMLIB.DANGA_LIST A ON ITM.ITMNO= A.ITMNO AND GAE IN ('FA', 'AD', 'C4', 'B4' )
			LEFT OUTER JOIN SALIB.ACODERP C ON C.ADGUB = 'PC' AND ITM.PMJGB = C.ASGUB AND C.AFILL > '0'
		) PUR ON BL.ITMNO = PUR.ITMNO
		Where BL.ONHND <> 0
		Union All
		SELECT DISTINCT cast(#{savingDate} as char(8)) GDATE, cast(#{savingTime} as char(4)) GTIME, BL.WARHS, BL.ITMNO, BL.LOCAT, BL.LOTNO, INDATE, INTIME, BL.JQTY QTY, coalesce(DANGA,0) PRICE, 'O' ONMNY, 'OLDDATE' BLTYPE FROM (
		select * From SMLIB.ITMBLPFSUB
		where JQTY <> 0 AND RIGHT(TRIM(WARHS), 1) IN ('A','W') AND WARHS NOT IN ('A','FA','HA') AND LOCAT <> 'SY' AND LENGTH(TRIM(WARHS)) = 2  and indate <cast(#{oldDate} as char(8))
		Union
		select * From SMLIB.ITMBLPFSUB where  JQTY <> 0 AND WARHS IN ('FA') AND LENGTH(TRIM(WARHS)) = 2 and indate < cast(#{oldDate} as char(8))
		) BL
		LEFT OUTER JOIN (
			SELECT DISTINCT ITM.ITMNO, coalesce(C.AFILL, ROUND(DANGA,2), 0) DANGA FROM SMLIB.ITMSTPF ITM
			LEFT OUTER JOIN SMLIB.DANGA_LIST A ON ITM.ITMNO= A.ITMNO AND GAE IN ('FA', 'AD', 'C4', 'B4' )
			LEFT OUTER JOIN SALIB.ACODERP C ON C.ADGUB = 'PC' AND ITM.PMJGB = C.ASGUB AND C.AFILL > '0'
		) PUR ON BL.ITMNO = PUR.ITMNO
		EXCEPTION JOIN (
			SELECT  DISTINCT A.WARHS , A.ITMNO FROM SMLIB.TRANSPF A
			WHERE A.TRSDT >= cast(#{oldDate} as char(8))  AND RIGHT(TRIM(A.WARHS), 1) = 'A' AND LENGTH(TRIM(WARHS)) = 2 AND A.QUNTY > 0
		) A ON A.WARHS = BL.WARHS AND  A.ITMNO = BL.ITMNO
		ORDER BY WARHS, ITMNO
		]]>
	</update>

	<update id="saveBalanceHisHeader" parameterType="com.seohan.erp.mat.Dto.ItemBalanceSaveQuery">
		<![CDATA[ 
			insert into SMLIB.ITMBL08_HD ( GDATE,GTIME,TIMEFLAG,TYPE,TYPEDS,FACT,WARHS,WARHS_NM,QTY,MNY,REF,FILL, BLTYPE)

			 SELECT GDATE, GTIME, 'NOW' TIMEFLAG, 'M' TYPE, '원재료' TYPEDS, LEFT(WARHS,1) FACT, WARHS, C.ASDES WARHS_NM, SUM(BL.QTY) QTY, SUM(MNY) MNY, '' REF,'' FILL, '' BLTYPE
			 FROM SMLIB.ITMBL0800 BL

			 INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'  INNER JOIN SMLIB.ITMSTPF ITM ON BL.ITMNO = ITM.ITMNO
			 where (GDATE = cast(#{savingDate} AS char(8) CCSID 933)  ) and WARHS in ('AB', 'BB', 'GB') AND QTY != 0 AND GTIME = cast(#{savingTime} AS char(4) CCSID 833)
			 GROUP BY GDATE, GTIME, LEFT(WARHS,1), WARHS, C.ASDES
			 Union All
			 SELECT GDATE, GTIME, 'NOW' TIMEFLAG, 'O' TYPE, '재공품' TYPEDS, FACT, WARHS, W.WRKDS WARHS_NM, SUM(BL.QTY) QTY, SUM(MNY) MNY, '' REF,'' FILL, '' BLTYPE
			 FROM SMLIB.ITMBL0800 BL

			 INNER JOIN SBLIB.WRKCTPF W ON BL.WARHS = W.WRKCT
			 where (GDATE = cast(#{savingDate} AS char(8) CCSID 933) ) AND GTIME = cast(#{savingTime} AS char(4) CCSID 833) AND FACT NOT IN ('D', 'F') AND ACTGB = 'A' AND MNY > 0
			 GROUP BY GDATE, GTIME, FACT, WARHS,  W.WRKDS
			 Union All
			 SELECT GDATE, GTIME, 'NOW' TIMEFLAG , 'O' TYPE, '재공품' TYPEDS, left(BL.WARHS,1) FACT, WARHS, C.ASDES WARHS_NM, SUM(BL.QTY) QTY, SUM(MNY) MNY, '' REF,'' FILL, '' BLTYPE
			 FROM SMLIB.ITMBL0800 BL
			 INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'
			 where (GDATE = cast(#{savingDate} AS char(8) CCSID 933) ) AND RIGHT(TRIM(WARHS), 1) IN ('Q') AND  left(BL.WARHS,1) NOT IN ('D', 'F') AND LENGTH(TRIM(WARHS)) = 2 AND GTIME = cast(#{savingTime} AS char(4) CCSID 833) AND MNY > 0
			 GROUP BY GDATE, GTIME, LEFT(WARHS,1), WARHS, C.ASDES
			 Union All
			 SELECT GDATE, GTIME , 'NOW' TIMEFLAG, 'Z' TYPE, '제품' TYPEDS, left(BL.WARHS,1) FACT, WARHS, C.ASDES WARHS_NM, SUM(BL.QTY) QTY, SUM(MNY) MNY, '' REF,'' FILL, '' BLTYPE
			 From SMLIB.ITMBL0800 BL
			 INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'
			 where (GDATE = cast(#{savingDate} AS char(8) CCSID 933)  ) AND RIGHT(TRIM(WARHS), 1) IN ('A','W') AND WARHS NOT IN ('A','FA','HA', 'DA','WA') AND LENGTH(TRIM(WARHS)) = 2 AND GTIME = cast(#{savingTime} AS char(4) CCSID 833)
			 GROUP BY GDATE, GTIME, LEFT(WARHS,1), WARHS, C.ASDES
			 Union All
			 SELECT GDATE, GTIME, 'NOW', 'Z' TYPE, '제품' TYPEDS, left(BL.WARHS,1) FACT, WARHS, C.ASDES WARHS_NM, SUM(BL.QTY) QTY, SUM(MNY) MNY, '' REF,'' FILL, '' BLTYPE
			 From SMLIB.ITMBL0800 BL
			 INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'
			 where (GDATE = cast(#{savingDate} AS char(8) CCSID 933) ) AND LENGTH(TRIM(WARHS)) = 2   AND WARHS IN ('A','FA','HA') AND GTIME = cast(#{savingTime} AS char(4) CCSID 833)
			 GROUP BY GDATE, GTIME, LEFT(WARHS,1), WARHS, C.ASDES
		]]>
	</update>


	<update id="saveBalanceOldHeader" parameterType="com.seohan.erp.mat.Dto.ItemBalanceSaveQuery">
		<![CDATA[
			insert into SMLIB.ITMBL08_HD ( GDATE,GTIME,TIMEFLAG,TYPE,TYPEDS,FACT,WARHS,WARHS_NM,QTY,MNY,REF,FILL, BLTYPE)
			SELECT GDATE, GTIME, 'OLD', 'M' TYPE, '원재료' TYPEDS, LEFT(WARHS,1) FACT, WARHS, C.ASDES WARHS_NM, SUM(BL.QTY) QTY, SUM(PRICE*QTY) MNY, '' REF,'' FILL, BLTYPE
			FROM SMLIB.ITMBL08_OLD BL
			INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'
			INNER JOIN SMLIB.ITMSTPF ITM ON BL.ITMNO = ITM.ITMNO
			where (GDATE = cast(#{savingDate} AS char(8) CCSID 933) ) and WARHS in ('AB', 'BB', 'GB') AND QTY <> 0
				AND GTIME = cast(#{savingTime} AS char(4) CCSID 833)
			GROUP BY GDATE, GTIME, LEFT(WARHS,1), WARHS, C.ASDES, BLTYPE
			Union All SELECT GDATE, GTIME, 'OLD', 'O' TYPE, '재공품' TYPEDS, FACT, WARHS, W.WRKDS WARHS_NM, SUM(BL.QTY) QTY, SUM(PRICE*QTY) MNY, '' REF,'' FILL, BLTYPE
			FROM SMLIB.ITMBL08_OLD BL
			INNER JOIN SBLIB.WRKCTPF W ON BL.WARHS = W.WRKCT
			where (GDATE = cast(#{savingDate} AS char(8) CCSID 933) ) AND FACT NOT IN ('D', 'F') AND ACTGB = 'A' AND PRICE*QTY > 0
				AND GTIME = cast(#{savingTime} AS char(4) CCSID 833)
			GROUP BY GDATE, GTIME, FACT, WARHS,  W.WRKDS, BLTYPE
			Union All SELECT GDATE, GTIME, 'OLD', 'O' TYPE, '재공품' TYPEDS, left(BL.WARHS,1) FACT, WARHS, C.ASDES WARHS_NM, SUM(BL.QTY) QTY, SUM(PRICE*QTY) MNY, '' REF,'' FILL, BLTYPE
			FROM SMLIB.ITMBL08_OLD BL
			INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'
			where (GDATE = cast(#{savingDate} AS char(8) CCSID 933) ) AND RIGHT(TRIM(WARHS), 1) IN ('Q') AND  left(BL.WARHS,1) NOT IN ('D', 'F') AND LENGTH(TRIM(WARHS)) = 2
				AND GTIME = cast(#{savingTime} AS char(4) CCSID 833) AND PRICE*QTY > 0
			GROUP BY GDATE, GTIME, LEFT(WARHS,1), WARHS, C.ASDES, BLTYPE
			Union All SELECT GDATE, GTIME, 'OLD', 'Z' TYPE, '제품' TYPEDS, left(BL.WARHS,1) FACT, WARHS, C.ASDES WARHS_NM, SUM(BL.QTY) QTY, SUM(PRICE*QTY) MNY, '' REF,'' FILL, BLTYPE
			From SMLIB.ITMBL08_OLD BL
			INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'
			where (GDATE = cast(#{savingDate} AS char(8) CCSID 933) ) AND RIGHT(TRIM(WARHS), 1) IN ('A','W') AND WARHS NOT IN ('A','FA','HA', 'DA','WA') AND LENGTH(TRIM(WARHS)) = 2
				AND GTIME = cast(#{savingTime} AS char(4) CCSID 833)
			GROUP BY GDATE, GTIME, LEFT(WARHS,1), WARHS, C.ASDES, BLTYPE
			Union All SELECT GDATE, GTIME, 'OLD', 'Z' TYPE, '제품' TYPEDS, left(BL.WARHS,1) FACT, WARHS, C.ASDES WARHS_NM, SUM(BL.QTY) QTY, SUM(PRICE*QTY) MNY, '' REF,'' FILL, BLTYPE
			From SMLIB.ITMBL08_OLD BL
			INNER JOIN SALIB.ACODERP C ON C.ADGUB = 'PJ' AND BL.WARHS = C.ASGUB AND AREF1 = 'SHN'
			where (GDATE = cast(#{savingDate} AS char(8) CCSID 933) ) AND LENGTH(TRIM(WARHS)) = 2   AND WARHS IN ('A','FA','HA')
				AND GTIME = cast(#{savingTime} AS char(4) CCSID 833)
			GROUP BY GDATE, GTIME, LEFT(WARHS,1), WARHS, C.ASDES, BLTYPE
		]]>
	</update>
</mapper>