
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>전산고장신고</title>
<link rel="SHORTCUT ICON" href="/resources/img/seohanico.gif" />
<script src="/webjars/jquery/dist/jquery.min.js"></script> 
<link href="/resources/img/seohanico.jpg" rel="apple-touch-icon" sizes="180x180" />
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/css/common.css" rel="stylesheet">
<link href="/resources/css/index.css" rel="stylesheet">
</head>
<body>
	<!-- Page Content -->
	<div class="row">
		<div class="panel panel-default">

			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered " id="dataTable">
						<tbody>
							<dl th:each="List : ${List}">
								<dd class="genre" th:text="${List.class1}"></dd>
								<dd class="genre" th:text="${List.co_gb}"></dd>
								<dd class="genre" th:text="${List.rteam}"></dd>
								<dd class="genre" th:text="${List.rname}"></dd> 
								
								<dd class="longlen"><a href="tel:${List.rtel}">${List.rtel}</a></dd>
								<dd>${List.rtxt}</dd>
								<dd class="genre">
									<button class="btn btn-default btn-sm" type="button"
										onClick="location.href='/file?fileName=${List.fileName}">
										다운로드
								</dd> 
								</dd>
								<dd class="genre"><button class="btn btn-default btn-sm"
										type="button" id="endDamage"
										onClick="location.href='/endDamage?class1=${List.class1}&rtime=${List.rtime}&rtel=${List.rtel}&rtxt=${List.rtxt}';  ">완료</button>
									</dd>
							</dl>
 
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="/resources/js/jquery/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="/resources/js/bootstrap.min.js"></script>
	<script src="/resources/js/common.js"></script>

	<script src="/resources/js/common.js"></script>
	<script src="/resources/js/metisMenu.min.js"></script>
	<script src="/resources/js/jquery.dataTables.min.js"></script>
	<script src="/resources/js/dataTables.bootstrap.min.js"></script>

</body>
</html>
